# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio / IDE
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/

# Ignore generated outputs
EHealthPlatform/bin/
EHealthPlatform/obj/
**/bin/
**/obj/

# xUnit specific ignores
EHealthPlatform.Tests/bin/
EHealthPlatform.Tests/obj/
EHealthPlatform/wwwroot/lib/
