[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/

EHealthPlatform/bin/
EHealthPlatform/obj/
EHealthPlatform.Tests/bin/
EHealthPlatform.Tests/obj/
EHealthDesktop/bin/
EHealthDesktop/obj/
EHealthDesktop.Tests/bin/
EHealthDesktop.Tests/obj/
test_wpf/bin/
test_wpf/obj/
**/bin/
**/obj/
EHealthPlatform/ehealth.db
EHealthPlatform/wwwroot/lib/
EHealthAvalonia/bin/
EHealthAvalonia/obj/
EHealthAvalonia.Tests/bin/
EHealthAvalonia.Tests/obj/
